<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results</title>
</head>
<body>
    <h2>
        <%= gameresult %>
    </h2>
    <h4 style="text-transform: capitalize">You picked: <%= playerchoice %></h4>
    <h4 style="text-transform: capitalize">Server picked: <%= serverchoice %></h4>
    <h4 style="color:green">Player wins: <%= playerwins %></h4>
    <h4 style="color:red">Server wins: <%= serverwins %></h4>
    <h4 style="color:blue">Total games: <%= totalgames %></h4>
    
    <h4><a href="/">Play again!</a></h4>
</body>
</html>